In [66]:
import pandas as pd
import csv


area = pd.read_excel('area1.xls')
pop = pd.read_excel('pop.xls', header = 2)
unpop1=unpop.drop('Notes').drop('Country code').drop('Variant').drop('Index', axis=1)
areaClean=pd.melt(area1, id_vars=["Country Name"], var_name="Year", value_name="Area")

In [320]:
Gapminder = pd.read_excel('Gapminder.xlsx')
Gapminder1=Gapminder.rename(columns={'Total population': 'Country'})
Gapminder2 = pd.melt(Gapminder1, id_vars=["Country"], var_name="year", value_name="Population")
GapminderClean=Gapminder2.replace("Antigua and Barbuda", "Antigua & Barbuda").replace("Bosnia and Herzegovina", "Bosnia-Herzegovina").replace("Kyrgyz Republic", "Kyrgyzstan").replace("Lao", "Laos").replace("USSR", "Soviet Union").replace('South Yemen (former)', 'South Yemen').replace('Serbia and Montenegro', 'Serbia-Montenegro').replace('North Yemen (former)', 'North Yemen').replace('Timor-Leste', 'East Timor')

In [310]:
Gapminderarea=pd.read_excel('Gapminderarea.xlsx', header=0).dropna(axis=1, how='all')
Gapminderarea1=Gapminderarea.rename(columns={'Surface area (sq. km)': 'Country'})
Gapminderarea2 = pd.melt(Gapminderarea1, id_vars=["Country"], var_name="year", value_name="area")
Gapminderarea2['year'] = Gapminderarea2['year'].astype(int)
GapminderareaClean=Gapminderarea2.replace("Antigua and Barbuda", "Antigua & Barbuda").replace("Bosnia and Herzegovina", "Bosnia-Herzegovina").replace("Kyrgyz Republic", "Kyrgyzstan").replace("Lao", "Laos").replace("USSR", "Soviet Union").replace('South Yemen (former)', 'South Yemen').replace('Serbia and Montenegro', 'Serbia-Montenegro').replace('North Yemen (former)', 'North Yemen').replace('Timor-Leste', 'East Timor')

In [311]:
GapminderareaClean

                        Country  year       area
0                   Afghanistan  1961   652230.0
1                       Albania  1961    28750.0
2                       Algeria  1961  2381740.0
3                American Samoa  1961      200.0
4                       Andorra  1961      470.0
5                        Angola  1961  1246700.0
6             Antigua & Barbuda  1961      440.0
7                     Argentina  1961  2780400.0
8                       Armenia  1961    29740.0
9                         Aruba  1961      180.0
10                    Australia  1961  7741220.0
11                      Austria  1961    83870.0
12                   Azerbaijan  1961    86600.0
13                      Bahamas  1961    13880.0
14                      Bahrain  1961      690.0
15                   Bangladesh  1961   144000.0
16                     Barbados  1961      430.0
17                      Belarus  1961   207600.0
18                      Belgium  1961        NaN
19                       Belize  1961    22970.0
20                        Benin  1961   112620.0
21                      Bermuda  1961       50.0
22                       Bhutan  1961    47000.0
23                      Bolivia  1961  1098580.0
24           Bosnia-Herzegovina  1961    51210.0
25                     Botswana  1961   581730.0
26                       Brazil  1961  8514880.0
27                       Brunei  1961     5770.0
28                     Bulgaria  1961   110990.0
29                 Burkina Faso  1961   274220.0
...                         ...   ...        ...
10620                    Sweden  2010   450300.0
10621               Switzerland  2010    41280.0
10622                     Syria  2010   185180.0
10623                Tajikistan  2010   142550.0
10624                  Tanzania  2010   947300.0
10625                  Thailand  2010   513120.0
10626               Timor-Leste  2010    14870.0
10627                      Togo  2010    56790.0
10628                     Tonga  2010      750.0
10629       Trinidad and Tobago  2010     5130.0
10630                   Tunisia  2010   163610.0
10631                    Turkey  2010   783560.0
10632              Turkmenistan  2010   488100.0
10633  Turks and Caicos Islands  2010      950.0
10634                    Tuvalu  2010       30.0
10635                    Uganda  2010   241550.0
10636                   Ukraine  2010   603550.0
10637      United Arab Emirates  2010    83600.0
10638            United Kingdom  2010   243610.0
10639             United States  2010  9831510.0
10640                   Uruguay  2010   176220.0
10641                Uzbekistan  2010   447400.0
10642                   Vanuatu  2010    12190.0
10643                 Venezuela  2010   912050.0
10644                   Vietnam  2010   331050.0
10645     Virgin Islands (U.S.)  2010      350.0
10646        West Bank and Gaza  2010     6020.0
10647               Yemen, Rep.  2010   527970.0
10648                    Zambia  2010   752610.0
10649                  Zimbabwe  2010   390760.0

[10650 rows x 3 columns]

In [314]:
gap=pd.merge(GapminderClean, GapminderareaClean)

In [120]:
Chebuib=pd.read_excel("Chebuib.xls")

In [122]:
Chebuib1=Chebuib.replace("United States of America", "United States").replace("Germany, East", "East Germany").replace("Germany, West", "West Germany")

In [123]:
Chebuib2=Chebuib1.replace("Democratic Republic of the Congo (Zaire, Congo-Kinshasha)", "Democratic Republic of the Congo").replace("Viet Nam", "Vietnam").replace("Vietnam, South", "South Vietnam").replace("Vietnam, North", "North Vietnam")

In [125]:
Chebuib3=Chebuib2.replace("Yemen PDR (South)", "South Yemen").replace("Yemen Arab Republic", "North Yemen").replace("Serbia and Montenegro", "Serbia-Montenegro").replace("Russian Federation", "Russia")

In [126]:
Chebuib4=Chebuib3.replace("Bosnia and Herzegovina", "Bosnia-Herzegovina").replace("U.S.S.R.", "Soviet Union").replace("Libyan Arab Jamahiriya", "Libya")

In [127]:
Chebuib5=Chebuib4.replace("Congo (Brazzaville, Republic of Congo)", "Republic of the Congo").replace("Brunei Darussalam", "Brunei")

In [317]:
gap

                        Country  year   Population       area
0                   Afghanistan  1961    9164945.0   652230.0
1                       Albania  1961    1685901.0    28750.0
2                       Algeria  1961   11404859.0  2381740.0
3                American Samoa  1961      20478.0      200.0
4                       Andorra  1961      14376.0      470.0
5                        Angola  1961    5367287.0  1246700.0
6             Antigua & Barbuda  1961      55403.0      440.0
7                     Argentina  1961   20953079.0  2780400.0
8                       Armenia  1961    1934239.0    29740.0
9                         Aruba  1961      55435.0      180.0
10                    Australia  1961   10494911.0  7741220.0
11                      Austria  1961    7105654.0    83870.0
12                   Azerbaijan  1961    4030130.0    86600.0
13                      Bahamas  1961     115108.0    13880.0
14                      Bahrain  1961     167924.0      690.0
15                   Bangladesh  1961   49593610.0   144000.0
16                     Barbados  1961     231674.0      430.0
17                      Belarus  1961    8274486.0   207600.0
18                      Belgium  1961    9200393.0        NaN
19                       Belize  1961      94701.0    22970.0
20                        Benin  1961    2466002.0   112620.0
21                      Bermuda  1961      45834.0       50.0
22                       Bhutan  1961     229297.0    47000.0
23                      Bolivia  1961    3764815.0  1098580.0
24           Bosnia-Herzegovina  1961    3277096.0    51210.0
25                     Botswana  1961     536576.0   581730.0
26                       Brazil  1961   74706888.0  8514880.0
27                       Brunei  1961      85687.0     5770.0
28                     Bulgaria  1961    7935058.0   110990.0
29                 Burkina Faso  1961    4894578.0   274220.0
...                         ...   ...          ...        ...
10120                 Swaziland  2010    1193148.0    17360.0
10121                    Sweden  2010    9382297.0   450300.0
10122               Switzerland  2010    7830534.0    41280.0
10123                     Syria  2010   20720602.0   185180.0
10124                Tajikistan  2010    7581696.0   142550.0
10125                  Tanzania  2010   45648525.0   947300.0
10126                  Thailand  2010   66692024.0   513120.0
10127               Timor-Leste  2010    1057122.0    14870.0
10128                      Togo  2010    6390851.0    56790.0
10129                     Tonga  2010     103947.0      750.0
10130       Trinidad and Tobago  2010    1328095.0     5130.0
10131                   Tunisia  2010   10639194.0   163610.0
10132                    Turkey  2010   72310416.0   783560.0
10133              Turkmenistan  2010    5041995.0   488100.0
10134  Turks and Caicos Islands  2010      30993.0      950.0
10135                    Tuvalu  2010       9827.0       30.0
10136                    Uganda  2010   33149417.0   241550.0
10137                   Ukraine  2010   45647497.0   603550.0
10138      United Arab Emirates  2010    8329453.0    83600.0
10139            United Kingdom  2010   62716684.0   243610.0
10140             United States  2010  309876170.0  9831510.0
10141                   Uruguay  2010    3374414.0   176220.0
10142                Uzbekistan  2010   27739764.0   447400.0
10143                   Vanuatu  2010     236299.0    12190.0
10144                 Venezuela  2010   28995745.0   912050.0
10145        West Bank and Gaza  2010    4068780.0     6020.0
10146                   Vietnam  2010   88357775.0   331050.0
10147     Virgin Islands (U.S.)  2010     106382.0      350.0
10148                    Zambia  2010   13917439.0   752610.0
10149                  Zimbabwe  2010   13973897.0   390760.0

[10150 rows x 4 columns]

In [69]:
START=pd.read_excel('START.xlsx')

In [70]:
START1993=pd.read_excel('START1993.xlsx')

In [106]:
STARTclean=START.append(START1993, ignore_index=True)

In [321]:
import collections
collections.Counter(GapminderClean["Country"])

Counter({'Abkhazia': 81,
         'Afghanistan': 81,
         'Akrotiri and Dhekelia': 81,
         'Albania': 81,
         'Algeria': 81,
         'American Samoa': 81,
         'Andorra': 81,
         'Angola': 81,
         'Anguilla': 81,
         'Antarctica': 81,
         'Antigua & Barbuda': 81,
         'Argentina': 81,
         'Armenia': 81,
         'Aruba': 81,
         'Australia': 81,
         'Austria': 81,
         'Azerbaijan': 81,
         'Bahamas': 81,
         'Bahrain': 81,
         'Bangladesh': 81,
         'Barbados': 81,
         'Belarus': 81,
         'Belgium': 81,
         'Belize': 81,
         'Benin': 81,
         'Bermuda': 81,
         'Bhutan': 81,
         'Bolivia': 81,
         'Bosnia-Herzegovina': 81,
         'Botswana': 81,
         'Bouvet Island': 81,
         'Brazil': 81,
         'British Indian Ocean Territory': 81,
         'British Virgin Islands': 81,
         'Brunei': 81,
         'Bulgaria': 81,
         'Burkina Faso': 81,
         'Burundi': 81,
         'Cambodia': 81,
         'Cameroon': 81,
         'Canada': 81,
         'Cape Verde': 81,
         'Cayman Islands': 81,
         'Central African Republic': 81,
         'Chad': 81,
         'Channel Islands': 81,
         'Chile': 81,
         'China': 81,
         'Christmas Island': 81,
         'Clipperton': 81,
         'Cocos Island': 81,
         'Colombia': 81,
         'Comoros': 81,
         'Congo, Dem. Rep.': 81,
         'Congo, Rep.': 81,
         'Cook Is': 81,
         'Costa Rica': 81,
         "Cote d'Ivoire": 81,
         'Croatia': 81,
         'Cuba': 81,
         'Curaçao': 81,
         'Cyprus': 81,
         'Czech Republic': 81,
         'Czechoslovakia': 81,
         'Denmark': 81,
         'Djibouti': 81,
         'Dominica': 81,
         'Dominican Republic': 81,
         'East Germany': 81,
         'Ecuador': 81,
         'Egypt': 81,
         'El Salvador': 81,
         'Equatorial Guinea': 81,
         'Eritrea': 81,
         'Eritrea and Ethiopia': 81,
         'Estonia': 81,
         'Ethiopia': 81,
         'Faeroe Islands': 81,
         'Falkland Is (Malvinas)': 81,
         'Fiji': 81,
         'Finland': 81,
         'France': 81,
         'French Guiana': 81,
         'French Polynesia': 81,
         'French Southern and Antarctic Lands': 81,
         'Gabon': 81,
         'Gambia': 81,
         'Gaza Strip': 81,
         'Georgia': 81,
         'Germany': 81,
         'Ghana': 81,
         'Gibraltar': 81,
         'Greece': 81,
         'Greenland': 81,
         'Grenada': 81,
         'Guadeloupe': 81,
         'Guam': 81,
         'Guatemala': 81,
         'Guernsey': 81,
         'Guinea': 81,
         'Guinea-Bissau': 81,
         'Guyana': 81,
         'Haiti': 81,
         'Heard and McDonald Islands': 81,
         'Holy See': 81,
         'Honduras': 81,
         'Hong Kong, China': 81,
         'Hungary': 81,
         'Iceland': 81,
         'India': 81,
         'Indonesia': 81,
         'Iran': 81,
         'Iraq': 81,
         'Ireland': 81,
         'Isle of Man': 81,
         'Israel': 81,
         'Italy': 81,
         'Jamaica': 81,
         'Japan': 81,
         'Jersey': 81,
         'Jordan': 81,
         'Kazakhstan': 81,
         'Kenya': 81,
         'Kiribati': 81,
         'Kosovo': 81,
         'Kuwait': 81,
         'Kyrgyzstan': 81,
         'Laos': 81,
         'Latvia': 81,
         'Lebanon': 81,
         'Lesotho': 81,
         'Liberia': 81,
         'Libya': 81,
         'Liechtenstein': 81,
         'Lithuania': 81,
         'Luxembourg': 81,
         'Macao, China': 81,
         'Macedonia, FYR': 81,
         'Madagascar': 81,
         'Malawi': 81,
         'Malaysia': 81,
         'Maldives': 81,
         'Mali': 81,
         'Malta': 81,
         'Marshall Islands': 81,
         'Martinique': 81,
         'Mauritania': 81,
         'Mauritius': 81,
         'Mayotte': 81,
         'Mexico': 81,
         'Micronesia, Fed. Sts.': 81,
         'Moldova': 81,
         'Monaco': 81,
         'Mongolia': 81,
         'Montenegro': 81,
         'Montserrat': 81,
         'Morocco': 81,
         'Mozambique': 81,
         'Myanmar': 81,
         'Namibia': 81,
         'Nauru': 81,
         'Nepal': 81,
         'Netherlands': 81,
         'Netherlands Antilles': 81,
         'New Caledonia': 81,
         'New Zealand': 81,
         'Ngorno-Karabakh': 81,
         'Nicaragua': 81,
         'Niger': 81,
         'Nigeria': 81,
         'Niue': 81,
         'Norfolk Island': 81,
         'North Korea': 81,
         'North Yemen': 81,
         'Northern Cyprus': 81,
         'Northern Mariana Islands': 81,
         'Northern Marianas': 81,
         'Norway': 81,
         'Oman': 81,
         'Pakistan': 81,
         'Palau': 81,
         'Panama': 81,
         'Papua New Guinea': 81,
         'Paraguay': 81,
         'Peru': 81,
         'Philippines': 81,
         'Pitcairn': 81,
         'Poland': 81,
         'Portugal': 81,
         'Puerto Rico': 81,
         'Qatar': 81,
         'Reunion': 81,
         'Romania': 81,
         'Russia': 81,
         'Rwanda': 81,
         'Samoa': 81,
         'San Marino': 81,
         'Sao Tome and Principe': 81,
         'Saudi Arabia': 81,
         'Senegal': 81,
         'Serbia': 81,
         'Serbia excluding Kosovo': 81,
         'Serbia-Montenegro': 81,
         'Seychelles': 81,
         'Sierra Leone': 81,
         'Singapore': 81,
         'Sint Maarten (Dutch part)': 81,
         'Slovak Republic': 81,
         'Slovenia': 81,
         'Solomon Islands': 81,
         'Somalia': 81,
         'Somaliland': 81,
         'South Africa': 81,
         'South Georgia and the South Sandwich Islands': 81,
         'South Korea': 81,
         'South Ossetia': 81,
         'South Sudan': 81,
         'South Yemen': 81,
         'Soviet Union': 81,
         'Spain': 81,
         'Sri Lanka': 81,
         'St. Barthélemy': 81,
         'St. Helena': 81,
         'St. Kitts and Nevis': 81,
         'St. Lucia': 81,
         'St. Martin': 81,
         'St. Martin (French part)': 81,
         'St. Vincent and the Grenadines': 81,
         'St.-Pierre-et-Miquelon': 81,
         'Sudan': 81,
         'Suriname': 81,
         'Svalbard': 81,
         'Swaziland': 81,
         'Sweden': 81,
         'Switzerland': 81,
         'Syria': 81,
         'Taiwan': 81,
         'Tajikistan': 81,
         'Tanzania': 81,
         'Thailand': 81,
         'Timor-Leste': 81,
         'Togo': 81,
         'Tokelau': 81,
         'Tonga': 81,
         'Transnistria': 81,
         'Trinidad and Tobago': 81,
         'Tunisia': 81,
         'Turkey': 81,
         'Turkmenistan': 81,
         'Turks and Caicos Islands': 81,
         'Tuvalu': 81,
         'US Minor Outlying Islands': 81,
         'Uganda': 81,
         'Ukraine': 81,
         'United Arab Emirates': 81,
         'United Kingdom': 81,
         'United Korea (former)': 81,
         'United States': 81,
         'Uruguay': 81,
         'Uzbekistan': 81,
         'Vanuatu': 81,
         'Venezuela': 81,
         'Vietnam': 81,
         'Virgin Islands': 81,
         'Virgin Islands (U.S.)': 81,
         'Wallis et Futuna': 81,
         'West Bank': 81,
         'West Bank and Gaza': 81,
         'West Germany': 81,
         'Western Sahara': 81,
         'Yemen': 81,
         'Yugoslavia': 81,
         'Zambia': 81,
         'Zimbabwe': 81,
         'Åland': 81})

In [ ]:
df = areapop.rename(columns={'Country Name': 'Country'})

In [156]:

START1=STARTclean.replace("West Germany (FRG)", "West Germany").replace("East Germany (GDR)", "East Germany").replace("Zaire", "Democratic Republic of the Congo")
START2=START1.replace("Rhodesia", "Zimbabwe").replace("French Polynesia", "France").replace("French Guiana", "France").replace("Guadeloupe", "France").replace("Martinique", "France").replace("New Caledonia", "France").replace("Wallis and Futuna", "France")
START3=START2.replace("Macau", "Portugal").replace("International", "Yemen").replace("Slovak Republic", "Slovakia").replace("Ivory Coast", "Cote d'Ivoire").replace("People's Republic of the Congo", "Republic of the Congo")
START4=START3.replace("Antigua and Barbuda", "Antigua & Barbuda")

In [174]:
START4.loc[(START4['country_txt'] == "Namibia") & (START4['iyear'] < 1990), 'country_txt'] = 'South Africa'
START4.loc[(START4['country_txt'] == "Soviet Union") & (START4['iyear'] == 1990), 'country_txt'] = 'Russia'
START4.loc[(START4['country_txt'] == "Hong Kong") & (START4['iyear'] < 1997), 'country_txt'] = 'United Kingdom'
START4.loc[(START4['country_txt'] == "Hong Kong") & (START4['iyear'] > 1997), 'country_txt'] = 'China'
START4.loc[(START4['country_txt'] == "West Germany") & (START4['iyear'] == 1990), 'country_txt'] = 'Germany'
START4.loc[(START4['country_txt'] == "East Germany") & (START4['iyear'] == 1990), 'country_txt'] = 'Germany'
START4.loc[(START4['country_txt'] == "East Timor") & (START4['iyear'] < 2002), 'country_txt'] = 'Indonesia'
START4.loc[(START4['country_txt'] == "Serbia-Montenegro") & (START4['iyear'] > 2006), 'country_txt'] = 'Serbia'
START4.loc[(START4['country_txt'] == "Montenegro") & (START4['iyear'] == 2001), 'country_txt'] = 'Yugoslavia'
START4.loc[(START4['country_txt'] == "Belize") & (START4['iyear'] == 1980), 'country_txt'] = 'United Kingdom'
Chebuib5.loc[(Chebuib5['ctryname'] == "Serbia-Montenegro") & (Chebuib5['year'] > 1991), 'ctryname'] = 'Yugoslavia'
Chebuib5.loc[(Chebuib5['ctryname'] == "Yugoslavia") & (Chebuib5['year'] > 2002), 'ctryname'] = 'Serbia-Montenegro'
Chebuib5.loc[(Chebuib5['ctryname'] == "Serbia-Montenegro") & (Chebuib5['year'] > 2006), 'ctryname'] = 'Serbia'
START5 = START4.rename(columns={'country_txt': 'Country', 'iyear': 'year'})
Chebuib6=Chebuib5.rename(columns={'ctryname': 'Country'})

In [176]:
chebuibStart = pd.merge(START5, Chebuib6)

In [318]:
gapStart=pd.merge(chebuibStart, gap).dropna(axis=1, how='all')

In [319]:
gapStart

,eventid,year,imonth,iday,approxdate,extended,resolution,country,Country,region,...,ttd,tta,flagc,flagdem,flagreg,agedem,agereg,stra,Population,area
0,197000000002,1970,0,0,NaN,0,NaT,130,Mexico,1,...,0.0,0.0,0.0,0.0,0.0,101.0,13.0,0.0,52029859.0,1964380.0
1,197008250001,1970,8,25,NaN,0,NaT,130,Mexico,1,...,0.0,0.0,0.0,0.0,0.0,101.0,13.0,0.0,52029859.0,1964380.0
2,197001000001,1970,1,0,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
3,197001210001,1970,1,21,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
4,197001310001,1970,1,31,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
5,197003000001,1970,3,0,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
6,197003240001,1970,3,24,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
7,197004020001,1970,4,2,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
8,197004210001,1970,4,21,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
9,197006020001,1970,6,2,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
10,197006060001,1970,6,6,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
11,197011220001,1970,11,22,NaN,0,NaT,160,Philippines,5,...,0.0,0.0,0.0,0.0,0.0,6.0,6.0,1.0,35804731.0,300000.0
12,197001000002,1970,1,0,NaN,0,NaT,78,Greece,8,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,2.0,8778676.0,131960.0
13,197007220001,1970,7,22,NaN,0,NaT,78,Greece,8,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,2.0,8778676.0,131960.0
14,197009020001,1970,9,2,NaN,0,NaT,78,Greece,8,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,2.0,8778676.0,131960.0
15,197001000003,1970,1,0,NaN,0,NaT,101,Japan,4,...,0.0,0.0,0.0,0.0,0.0,25.0,25.0,0.0,103707537.0,377800.0
16,197003310002,1970,3,31,NaN,1,1970-04-03,101,Japan,4,...,0.0,0.0,0.0,0.0,0.0,25.0,25.0,0.0,103707537.0,377800.0
17,197001010002,1970,1,1,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
18,197001020002,1970,1,2,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
19,197001020003,1970,1,2,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
20,197001030001,1970,1,3,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
21,197001050001,1970,1,1,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
22,197001060001,1970,1,6,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
23,197001090001,1970,1,9,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
24,197001090002,1970,1,9,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
25,197001120001,1970,1,12,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
26,197001120002,1970,1,12,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
27,197001130001,1970,1,13,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
28,197001140001,1970,1,14,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
29,197001190002,1970,1,19,NaN,0,NaT,217,United States,1,...,0.0,0.0,0.0,0.0,0.0,101.0,101.0,0.0,209485807.0,9629090.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87527,199309090001,1993,9,9,NaN,0,NaT,83,Guatemala,2,...,0.0,0.0,0.0,0.0,0.0,8.0,8.0,3.0,9860063.0,108890.0
87528,199309120004,1993,9,12,NaN,0,NaT,87,Haiti,2,...,0.0,0.0,0.0,0.0,0.0,124.0,4.0,0.0,7530703.0,27750.0
87529,199309150001,1993,9,15,NaN,0,NaT,16,Azerbaijan,7,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,7567156.0,86600.0
87530,199309190003,1993,9,19,NaN,0,NaT,61,El Salvador,2,...,0.0,0.0,0.0,0.0,0.0,10.0,10.0,0.0,5461834.0,21040.0
87531,199309280002,1993,9,28,NaN,0,NaT,64,Estonia,9,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,1.0,1488120.0,45230.0
87532,199309280003,1993,9,28,NaN,1,1993-10-05,203,Tanzania,11,...,0.0,0.0,0.0,0.0,0.0,33.0,33.0,0.0,28122799.0,947300.0
87533,199309280004,1993,9,28,NaN,0,NaT,109,Latvia,9,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,1.0,2568603.0,64550.0
87534,199310070004,1993,10,7,NaN,1,NaT,202,Tajikistan,7,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,5616797.0,142550.0
87535,199310110001,1993,10,11,NaN,0,NaT,151,Norway,8,...,0.0,0.0,0.0,0.0,0.0,109.0,109.0,0.0,4309606.0,323800.0
87536,199310250001,1993,10,25,NaN,1,NaT,146,Niger,11,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,8732500.0,1267000.0
87537,199310250007,1993,10,25,NaN,1,1993-10-28,146,Niger,11,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,8732500.0,1267000.0
87538,199311030001,1993,11,3,NaN,0,NaT,78,Greece,8,...,0.0,0.0,0.0,0.0,0.0,20.0,20.0,2.0,10433351.0,131960.0
87539,199311150001,1993,11,15,NaN,0,NaT,78,Greece,8,...,0.0,0.0,0.0,0.0,0.0,20.0,20.0,2.0,10433351.0,131960.0
87540,199311040002,1993,11,4,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87541,199311040022,1993,11,4,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87542,199311110001,1993,11,11,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87543,199312030001,1993,12,3,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87544,199312030002,1993,12,3,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87545,199312040001,1993,12,4,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87546,199312050002,1993,12,5,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87547,199312050004,1993,12,5,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87548,199312060007,1993,12,6,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87549,199312060008,1993,12,6,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87550,199312060009,1993,12,6,NaN,0,NaT,15,Austria,8,...,0.0,0.0,0.0,0.0,0.0,49.0,49.0,1.0,7874675.0,83870.0
87551,199311040017,1993,11,4,NaN,0,NaT,55,Denmark,8,...,0.0,0.0,0.0,0.0,0.0,93.0,93.0,0.0,5190631.0,43090.0
87552,199311040021,1993,11,4,NaN,0,NaT,55,Denmark,8,...,0.0,0.0,0.0,0.0,0.0,93.0,93.0,0.0,5190631.0,43090.0
87553,199311250003,1993,11,25,NaN,0,NaT,158,Paraguay,3,...,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,4541902.0,406750.0
87554,199311290002,1993,11,29,NaN,0,NaT,95,Iraq,10,...,0.0,0.0,0.0,0.0,0.0,62.0,15.0,0.0,19021967.0,438320.0
87555,199312120003,1993,12,12,NaN,0,NaT,95,Iraq,10,...,0.0,0.0,0.0,0.0,0.0,62.0,15.0,0.0,19021967.0,438320.0
87556,199312130003,1993,12,13,NaN,0,NaT,95,Iraq,10,...,0.0,0.0,0.0,0.0,0.0,62.0,15.0,0.0,19021967.0,438320.0